@model courseWork.Models.ViewModels.SubjectViewModel

@using (Html.BeginForm("AddSubject", "Admin", FormMethod.Post))
{
    <div class="input-group">
        @Html.TextBoxFor(model => model.SubjectName, new {@class = "form-control"})
        <div class="input-group-append">
            <button type="submit" class="btn btn-success">Add</button>
        </div>
    </div>
    @Html.ValidationSummary()
}

<h2> Subjects </h2>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var subject in Model?.Subjects!)
    {
        <tr>
            <td>
                @subject.Name
            </td>
            <td>
                @using (Html.BeginForm("SetProfessorForSubject", "Admin",FormMethod.Post))
                {
                    <div class="input-group">
                        @Html.Hidden("RequestModel.SubjectId", subject.Id);
                        @Html.DropDownListFor(model => model.RequestModel.ProfessorId, Model.Professors.Select(x => new SelectListItem(x.FullName, x.Id.ToString())))
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </div>
                    @Html.ValidationSummary()
                }
            </td>
        </tr>
    }
    </tbody>
</table>



